html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}


a, a:visited {
  color: #FAF7DD;
}

body {
  text-align: center;
  background-color: #FAF7DD;
  color: #FAF7DD;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-size: calc(14px + 0.6vw);
  line-height: calc(14px + 1.4vw);
}

.date {
  font-size: 60px;
  font-family: 'Instrument Serif', serif;
  color: #0D1821;
}

.event-title {
  font-family: 'Instrument Serif', serif;
  font-size: calc(24px + 2vw);
  color: #FAF7DD;
  margin-bottom: 20px;
}

#month-and-day {
  margin-top: 30px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

.slideshow {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.slide-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 40vw;
}

.event-year {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0); 
  margin-bottom: 30px;
  color: #0D1821;
}

.image-container {
  height: 64vh; /* set the height of the container */
  width: 80vw;
  overflow: hidden; /* hide any content that overflows the container */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: black;
}

.image-container img {
  width: 100%; /* set the width of the image to 100% of the container */
  height: 100%; /* set the height of the image to 100% of the container */
  object-fit: cover; /* fill the container with the image while maintaining its aspect ratio */
  opacity: 0.3
}


.slide {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0%;
}

.arrow-container {
  position: absolute;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.arrow-left {
  margin-left: 5px;
}
.arrow-right {
  margin-right: 5px;
}
@media (min-width: 720px) {
  .arrow-container {
    top: 50%;
    transform: translateY(-50%);
  }
}

i {
  font-size: 32px;
}

.arrow {
  color: #0D1821;
  background: none;
  border: 0;
  cursor: pointer;
}

@media (max-width: 720px) {
  /* CSS styles for devices with a maximum width of 720px */
  .slide-wrapper {
    width: 50vw;
  }
  .image-container {
    height: 70vh; /* set the height of the container */
    width: 80vw;
    overflow: hidden; /* hide any content that overflows the container */
  }
  .date {
    font-size: 10vw;
  }
  .arrow-container {
    position: fixed;
    bottom: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  /* CSS styles for devices with a maximum width of 480px */
  .slide-wrapper {
    width: 70vw;
  }
  .image-container {
    height: 74vh; /* set the height of the container */
    width: 80vw;
    overflow: hidden; /* hide any content that overflows the container */
  }
  .date {
    font-size: 12vw;
  }

  .event-title {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
    line-height: 32px;
  }

}